@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body
{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

*{
    margin: 0;
}
:root
{
    --blue: #1A76BB;
    --marginG: 30px 140px;
    --backgroundBlue: linear-gradient(180deg, rgba(0, 103, 179, 0.8) 0.52%, #5183B8 17.71%, #5183B8 55.73%);
}
.heading
{
    display: flex;
    flex-direction: column;
    margin: var(--marginG);
}
.first
{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #80B3D9;
    padding-bottom: 10px;
}
.changer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.changerIcons,i
{
    margin: 0.8rem;
}
#size
{
    display: flex;
    align-items: flex-end;
}
.sizeChange
{
    margin: 0 8px;
}
#small
{
    font-size: 12px;
}
#medium
{
    font-size: 14px;
}
#big
{
    font-size: 16px;
}
#mode
{
    display: flex;
}
.hindi
{
    display: inline;
}
#light
{
    border: 3px solid var(--blue);
    border-radius: 3px;
    padding: 1px 7px;
}
#dark
{
    margin-left: 3px;
    background-color: var(--blue);
    color: white;
    border: 3px solid var(--blue);
    border-radius: 3px;
    padding: 1px 7px;
}
.logo img
{
    width: 75%;
}
.tools img
{
    width: 50px;
}
.second
{
    margin-top: 20px;
}
.right
{
    display: flex;
    flex-direction: column;
}
.tools
{
    display: flex;
}
nav
{
    display: flex;
    justify-content: space-between;
}
a
{
    text-decoration: none;
    margin: 0 5px;
    color: #232323;
}
.linksUp
{
    display: flex;
    align-items: center;
}
.linksUp a
{
    margin: 0 14px;
}

.intro
{
    color: white;
    padding:var(--marginG);
    background: var(--backgroundBlue);
    width: 100%;
    height: 288px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}
.Path
{
    display: flex;
    width: 120px;
    justify-content: space-between;
}
#teamHeading
{
    font-size: 28px;
    font-weight: 500;
    margin-top: 110px;
}
#teamRef
{
    font-size: 16px;
    margin: 30px 0;
}
.team
{
    display: flex;
    flex-direction: column;
    padding:0 30px 0 0;
}
.Ref
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.Ref2
{
    padding: var(--marginG);
}
.para1
{
    display: flex;
    flex-flow: column wrap;
    margin: var(--marginG);
}

.rows
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.underline
{
    width: 100px;
    margin: auto;
    height: 4px;
    background-color:#FFD53D;
    border: none;
}
.person
{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 50px;
    /* background: url('../IMAGES/blueRect.jpg');
    background-repeat: no-repeat;
    background-size: 100% 185px ;
    background-position-y: 112px; */
}
.text
{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    top:30px;
}
.personRef
{
    margin: 10px 10px;
}
#gouranshi
{
    position: relative;
    top: -10px;
}
#kimaya
{
    position: relative;
    top: -5px;
}

.containers img
{
    filter: grayscale(100);
}
.containers img:hover
{
    filter: grayscale(0);
}
.back
{
    display: inline-block;
    background: var(--backgroundBlue);
    width: 100%;
    height: 200px;
    z-index: -5;
}
.containers
{
    height: 600px;    
}
.back
{
    position: relative;
    top: -425px;
}
.fblogo
{
    display: flex;
    width: 70px;
    justify-content: space-between;
    margin: 50px auto;
}
.fb img
{
    border-radius: 75%;
}
.menu
{
    visibility: hidden;
}
.container1
{
    display: flex;
    flex-flow: column wrap;
    
}


.dev1
{
    position: relative;
    top: -250px;
}
#hide
{
    visibility: hidden;
}
.footer
{
    bottom: 0;
    margin-top: auto;
    padding: var(--marginG);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer > div, .footers > div, .footers .fb
{
    margin: 10px 10px 10px 0;
}
iframe
{
    width: 160px;
    height: 120px;
}
.foot
{
    display: flex;
    flex-direction: column;
}
.search img
{
    width: 30px;
    height: 30px;
    position: relative;
    top: 13px;
}
.footers
{
    display: flex;
    margin: 10px 10px;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}
.footers > span
{
    margin: 10px 10px;
}
.heart
{
    display: inline;
    margin: 0;
    vertical-align: middle;
}
.secondLast
{
    background-color: #E7E7E7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px 140px;
    font-size: 14px;
}
.left
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left div
{
    margin-right: 20px;
}
.image
{
    filter: grayscale(100);
}
.image:hover
{
    filter: grayscale(0);
}
.last
{
    background-color: #232323;
    color: white;
    padding: 8px 140px;
    font-size: 12px;
    font-weight: 200;
}


.containerDiv
{
    display: flex;
    flex-flow: column wrap;
}
.cont
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contContent
{
    text-align: center;
    justify-content: center;
    flex-grow: 1;
    height: 296px;
    align-items: center;
    margin-bottom: 161px;
    background: linear-gradient(to top, #0067B3CC 67%, white 33%);
}
@media (min-width: 1017px)
{
    .container2
    {
        display: flex;
        flex-flow: column wrap;
        display: none;
    }
}
@media (max-width: 1468px)
{
    .tools, .second
    {
        display: none;
    }
    .logo
    {
        margin: auto;
    }
    .menu
    {
        visibility: visible;
        width: 30px;
        height: 30px;
        margin: auto 0;
    }
}
@media (max-width: 756px)
{
    .rows
    {
        justify-content: space-around;
    }
}
@media (max-width: 700px)
{
    .rcorner
    {
        margin-top: 10px;
    }
}
@media (max-width: 1017px)
{
    .container1
    {
        display: none;
    }
}